Primeira automação.json
{
  "name": "Primeira automação",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "f1190f74-25ea-4e33-8071-8f5fa7395f6c",
      "name": "When chat message received",
      "webhookId": "67242969-7260-4177-830c-fa73d23e71ac"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "63eab03c-ab21-45a6-b021-4e74619d2f47",
              "name": "idConversa",
              "value": "={{ $json.sessionId }}",
              "type": "string"
            },
            {
              "id": "b941ce4e-23cc-4591-9a8a-924ff8e77bec",
              "name": "Mensagem",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "8efe9346-6b2e-4953-9740-8031058dd48b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1SMov1wPsm_iKSENVd6FYwIe8BubDJLkBaLv8FoYz2KA",
          "mode": "list",
          "cachedResultName": "teste",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SMov1wPsm_iKSENVd6FYwIe8BubDJLkBaLv8FoYz2KA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "case 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SMov1wPsm_iKSENVd6FYwIe8BubDJLkBaLv8FoYz2KA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "IdConversa": "={{ $json.idConversa }}",
            "Mensagem": "={{ $json.Mensagem }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "IdConversa",
              "displayName": "IdConversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Mensagem",
              "displayName": "Mensagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        0
      ],
      "id": "bd4633c9-9b37-4655-81f2-756ec20bdd24",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "n1DCD2EKxyc9UCFQ",
          "name": "vhmedeiros0@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields').item.json.Mensagem }}",
        "options": {
          "systemMessage": "Você é um super agente de suporte, seja educado, engraçado e utilize emojis em suas respostas para deixar a conversa mais humanizada"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        624,
        0
      ],
      "id": "40259c66-27c2-4c4b-8333-dc0b7923c3c3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        496,
        208
      ],
      "id": "6c92f09b-6054-4c2d-87c7-69fcfcd92dd1",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "ykRqf8GSOFDRkW3w",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Edit Fields').item.json.idConversa }}",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        640,
        208
      ],
      "id": "6d264d59-901f-4239-8882-002988299e13",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        912,
        208
      ],
      "id": "323e57f7-74a9-4080-b2b4-bafdaaeff416",
      "name": "Calculator"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        976,
        16
      ],
      "id": "b71835c2-374b-4fa1-9e19-09b8706952f3",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        784,
        208
      ],
      "id": "68edbcd0-1be0-4aea-bdc6-455b75cf50c6",
      "name": "Wikipedia"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "4665c762-da8e-4a3b-b677-bfb826f5126e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c095eb3970642e9ff32065d6a92a3fdf79262a2c5f463118488c6413a05babab"
  },
  "id": "cVVDghpnRBOxn3I2",
  "tags": []
}